@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.main {
  background-color: #000000ea;
  position:relative;
  width:100%;
  overflow:hidden;
}

.view-more {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/*--------------------------------------------------------------
Search Bar
--------------------------------------------------------------*/

.head {
  padding: 0;
  margin: 0;
  height: 50vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
    url("../images/search-bg.jpg") center center;
}

.head form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
  box-shadow: 2px 2px #000000;
}

.head input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

.head .fa {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #000000;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

.head form:hover {
  width: 400px;
  cursor: pointer;
}

.head form:hover input {
  display: block;
}

.head form:hover .fa {
  background: #000000;
  color: white;
}

@media (max-width: 575px) {
  .head form:hover {
    width: 90%;
  }
}

/*--------------------------------------------------------------
Recommendations
--------------------------------------------------------------*/

.rec .box {
  width: 234.5px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  overflow: hidden;
}
.rec .slide-img {
  height: 370px;
  position: relative;
}
.rec .slide-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
}

.rec .overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(71, 71, 71, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.rec .buy-btn {
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #252525;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: calibri;
  border-radius: 10px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}
.rec .buy-btn:hover {
  color: #ffffff;
  background-color: #111;
  transition: all ease 0.3s;
}
.rec .overlay {
  visibility: hidden;
}
.rec .slide-img:hover .overlay {
  visibility: visible;
  animation: fade 0.5s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.rec {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
}

@media (max-width: 575px) {
  .rec {
    width: 90%;
  }
  .rec .box {
    width: 139px;
  }
  .rec .slide-img {
    height: 222px;
  }
}

@media (max-width: 991px) and (min-width: 575px) {
  .rec {
    width: 90%;
  }
  .rec .box {
    width: 161.5px;
  }
  .rec .slide-img {
    height: 260px;
  }
}

/*--------------------------------------------------------------
Grid
--------------------------------------------------------------*/
.wrapper {
  width: 80%;
  margin: 0px auto 0px auto;
  display: grid;
  height: auto;
  grid-template-columns: 58% 38%;
  grid-gap: 4%;
  align-content: stretch;
  color: #ffffff;
}

/*--------------------------------------------------------------
Genre
--------------------------------------------------------------*/
.filter {
  margin-bottom: 20px;
}

.filter ul {
  display: flex;
}

.filter ul li {
  font-size: 15px;
  list-style: none;
  margin: 5px;
  letter-spacing: 1px;
  cursor: pointer;
}

.filter ul li.active {
  color: red;
}

.filter ul li:hover {
  color: red;
  font-weight: 800;
  letter-spacing: 2px;
}

.gen .box {
  width: 160px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  overflow: hidden;
}
.gen .slide-img {
  height: 255px;
  position: relative;
}
.gen .slide-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
}

.gen .overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(71, 71, 71, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.gen .buy-btn {
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #252525;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: calibri;
  border-radius: 10px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}
.gen .buy-btn:hover {
  color: #ffffff;
  background-color: #111;
  transition: all ease 0.3s;
}
.gen .overlay {
  visibility: hidden;
}
.gen .slide-img:hover .overlay {
  visibility: visible;
  animation: fade 0.5s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.gen {
  width: 95%;
  height: auto;
  justify-content: center;
  align-items: center;
}

/* @media (max-width: 575px) {
  .gen {
    width: 90%;
  }
  .gen .box {
    width: 139px;
  }
  .gen .slide-img {
    height: 222px;
  }
}

@media (max-width: 991px) and (min-width: 575px) {
  .gen {
    width: 90%;
  }
  .gen .box {
    width: 161.5px;
  }
  .gen .slide-img {
    height: 260px;
  }
} */

/*--------------------------------------------------------------
Language
--------------------------------------------------------------*/
.filter {
  margin-bottom: 20px;
}

.filter ul {
  display: flex;
}

.filter ul li {
  font-size: 15px;
  list-style: none;
  margin: 5px;
  letter-spacing: 1px;
  cursor: pointer;
}

.filter ul li.active {
  color: red;
}

.filter ul li:hover {
  color: red;
  font-weight: 800;
  letter-spacing: 2px;
}

.lang .box {
  width: 160px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  overflow: hidden;
}
.lang .slide-img {
  height: 255px;
  position: relative;
}
.lang .slide-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
}

.lang .overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(71, 71, 71, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.lang .buy-btn {
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #252525;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: calibri;
  border-radius: 10px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}
.lang .buy-btn:hover {
  color: #ffffff;
  background-color: #111;
  transition: all ease 0.3s;
}
.lang .overlay {
  visibility: hidden;
}
.lang .slide-img:hover .overlay {
  visibility: visible;
  animation: fade 0.5s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.lang {
  width: 95%;
  height: auto;
  justify-content: center;
  align-items: center;
}

/* @media (max-width: 575px) {
  .lang {
    width: 90%;
  }
  .lang .box {
    width: 139px;
  }
  .lang .slide-img {
    height: 222px;
  }
}

@media (max-width: 991px) and (min-width: 575px) {
  .lang {
    width: 90%;
  }
  .lang .box {
    width: 161.5px;
  }
  .lang .slide-img {
    height: 260px;
  }
} */

/*--------------------------------------------------------------
Trending
--------------------------------------------------------------*/
.trending div.trend {
  margin-top: 20px;
  width: 100%;
  height: 340px;
  overflow: auto;
}
.latest div.trend {
  margin-top: 20px;
  width: 100%;
  height: 340px;
  overflow: auto;
}

section .wrapper {
  padding-bottom: 40px;
}

/*--------------------------------------------------------------
Upcoming
--------------------------------------------------------------*/
.upcoming {
  position: relative;
  width: 80%;
  margin: 0px auto 0px auto;
  color: #ffffff;
}
