<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static '/css/base.css' %}">
  <link href="{% static 'bootstrap/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <script src="https://kit.fontawesome.com/4417a7216a.js" crossorigin="anonymous"></script>

  {% block css %}{% endblock %}
</head>

<body>
  {% if messages %}
  <script>
    alert("{% for message in messages %}{{ message }}\n{% endfor %}");
  </script>
  {% endif %}
  <!-- Navigation Bar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="/">PredixDB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'dashboard' 'movie' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'dashboard' 'movie' %}">Movies</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'dashboard' 'tv series' %}">TV Series</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'dashboard' 'anime' %}">Anime</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'dashboard' 'manga' %}">Manga</a>
          </div>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li> -->
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Community</a>
        </li>
      </ul>

      <div class="d-flex align-items-center">
        {% if not user.is_anonymous %}
        <a style="text-decoration: none;" href="{% url 'logout' %}">
          <button type="button" class="btn btn-link px-3 me-2" style="color: black;">
            Logout
          </button>
        </a>
        <a href="{% url 'profile' 'favourite' %}">
          <button class="btn btn-primary me-3" style="background-color: black; border-color: black;"><i class='bx bx-user'></i> My Profile</button>
        </a>
        {% else %}
        <button type="button" class="btn btn-link px-3 me-2" data-toggle="modal" data-target="#loginModal"
          style="color: black;">
          Login
        </button>
        <button type="button" class="btn btn-primary me-3" data-toggle="modal" data-target="#signUpModal"
          style="background-color: black; border-color: black;">
          Sign up for free
        </button>
        {% endif %}
      </div>
    </div>
  </nav>


  <!-- LOGIN Modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Welcome Back!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/login/" , method="post">
            {% csrf_token %}
            <div class="p-2">

              <h6 style="letter-spacing: 1px;">Enter Your Credentials</h6>

              <div class="form-outline mt-4 mb-4">
                <input type="username" id="username" name="username" class="form-control form-control-lg" />
                <label class="form-label" for="username">Username</label>
              </div>

              <div class="form-outline mb-4">
                <input type="password" id="password" name="password" class="form-control form-control-lg" />
                <label class="form-label" for="password">Password</label>
              </div>

              <div class="pt-1 mb-4">
                <button class="btn btn-lg btn-block" style="background-color: black; color: #fff;"
                  type="submit">Login</button>
              </div>

              <a class="small text-muted" href="#!">Forgot password?</a>
              <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="#signUpModal"
                  data-toggle="modal" data-dismiss="modal" style="color: #393f81;">Register here</a></p>
              <a href="#!" class="small text-muted">Terms of use.</a>
              <a href="#!" class="small text-muted">Privacy policy</a>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>


  <!-- SIGNUP Modal -->
  <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Create New Account!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/register/" , method="post">
            {% csrf_token %}
            <div class="p-2">

              <h6 style="letter-spacing: 1px;">Enter Your Details</h6>

              <div class="form-outline mt-4 mb-4">
                <input type="email" id="user_email" name="email" class="form-control form-control-lg" />
                <label class="form-label" for="user_email">Email address</label>
              </div>

              <div class="form-outline mb-4">
                <input type="password" id="password1" name="password1" class="form-control form-control-lg" />
                <label class="form-label" for="password1">Password</label>
              </div>

              <div class="form-outline mb-4">
                <input type="password" id="password2" name="password2" class="form-control form-control-lg" />
                <label class="form-label" for="password2">Confirm Password</label>
              </div>

              <div class="pt-1 mb-4">
                <button class="btn btn-lg btn-block" style="background-color: black; color: #fff;" type="submit">Sign
                  Up</button>
              </div>

              <p class="mb-5 pb-lg-2" style="color: #393f81;">Already have an account? <a href="#loginModal"
                  data-toggle="modal" data-dismiss="modal" style="color: #393f81;">Sign In here</a></p>
              <a href="#!" class="small text-muted">Terms of use.</a>
              <a href="#!" class="small text-muted">Privacy policy</a>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

  {% block body %}{% endblock %}

  <!-- Footer Section -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>PredixDB</h3>
              <p>
                DYPIU, Akurdi <br>
                Pune, Maharashtra, India<br><br>
                <strong>Phone:</strong> +91 9057297344<br>
                <strong>Email:</strong> predixdb@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="mail"><i class='bx bxs-envelope'></i></a>
                <a href="#" class="twitter"><i class='bx bxl-twitter'></i></a>
                <a href="#" class="github"><i class='bx bxl-github'></i></a>
                <a href="#" class="instagram"><i class='bx bxl-instagram'></i></a>
                <a href="#" class="linkedin"><i class='bx bxl-linkedin'></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'dashboard' 'movie' %}">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/#cta">Contribute</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/#contact">Contact Us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Track Media</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Share Watchings</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">One for all OTT</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Regular Update</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Free of Charges</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Subscribe to get regular updates of our newsletter.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>PredixDB</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer>
  
  <!-- Scripts -->

  <script src="{% static 'bootstrap/js/jquery.js' %}"></script>
  {% block script %}{% endblock %}
  <script src="{% static 'bootstrap/js/popper.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>