{% extends "base.html" %}
{% load static %}


{% block title %} HOME | PredixDB {% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/lightslider.css' %}" type="text/css" />
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'js/lightslider.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#autoWidth-rec').lightSlider({
            autoWidth: true,
            keyPress: true,
            onSliderLoad: function () {
                $('#autoWidth-rec').removeClass('cS-hidden-rec');
            }
        });
        $('#autoWidth-gen').lightSlider({
            autoWidth: true,
            keyPress: true,
            onSliderLoad: function () {
                $('#autoWidth-gen').removeClass('cS-hidden-gen');
            }
        });
        $('#autoWidth-lang').lightSlider({
            autoWidth: true,
            keyPress: true,
            onSliderLoad: function () {
                $('#autoWidth-lang').removeClass('cS-hidden-lang');
            }
        });
    });
</script>
{% endblock %}

{% block body %}
<section class="main">
    <!-- Search Box Section -->
    <section class="head">
        <form action="">
            <input type="search" placeholder="Search Your Favourites">
            <i class="fa fa-search"></i>
        </form>
    </section>

    <!-- Recommendations Section -->
    <section class="rec">
        <ul id="autoWidth-rec" class="cs-hidden-rec">
            <li class="item-a">
                <div class="box">
                    <div class="slide-img">
                        <img alt="1" src="{% static 'images/movie1.jpg' %}">
                        <div class="overlay">
                            <a href="#" class="buy-btn">Add to Watched</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="item-a">
                <div class="box">
                    <div class="slide-img">
                        <img alt="1" src="{% static 'images/search-bg.jpg' %}">
                        <div class="overlay">
                            <a href="#" class="buy-btn">Add to Watched</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="item-a">
                <div class="box">
                    <div class="slide-img">
                        <img alt="1" src="{% static 'images/movie1.jpg' %}">
                        <div class="overlay">
                            <a href="#" class="buy-btn">Add to Watched</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="item-a">
                <div class="box">
                    <div class="slide-img">
                        <img alt="1" src="{% static 'images/movie1.jpg' %}">
                        <div class="overlay">
                            <a href="#" class="buy-btn">Add to Watched</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="item-a">
                <div class="box">
                    <div class="slide-img">
                        <img alt="1" src="{% static 'images/movie1.jpg' %}">
                        <div class="overlay">
                            <a href="#" class="buy-btn">Add to Watched</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="item-a">
                <div class="box">
                    <div class="slide-img">
                        <img alt="1" src="{% static 'images/movie1.jpg' %}">
                        <div class="overlay">
                            <a href="#" class="buy-btn">Add to Watched</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="item-a">
                <div class="box">
                    <div class="slide-img">
                        <img alt="1" src="{% static 'images/movie1.jpg' %}">
                        <div class="overlay">
                            <a href="#" class="buy-btn">Add to Watched</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="item-a">
                <div class="box">
                    <div class="slide-img">
                        <img alt="1" src="{% static 'images/movie1.jpg' %}">
                        <div class="overlay">
                            <a href="#" class="buy-btn">Add to Watched</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="item-a">
                <div class="box">
                    <div class="slide-img" style="color:aliceblue;">
                        <p class="view-more">View More...</p>
                    </div>
                </div>
            </li>

        </ul>
    </section>

    <!-- Other Movies Sections -->
    <section class="wrapper">
        <div class="genre">
            <h4>BY GENRE</h4>
            <span class="filter">
                <ul>
                    <li class="list active" data-filter="All">#All</li>
                    <li class="list" data-filter="Horror">#Horror</li>
                    <li class="list" data-filter="Comedy">#Comedy</li>
                    <li class="list" data-filter="Thriller">#Thriller</li>
                    <li class="list" data-filter="Romantic">#Romantic</li>
                    <li class="list" data-filter="Sci-Fi">#Sci-Fi</li>
                    <li class="list" data-filter="Documentary">#Documentary</li>
                </ul>
            </span>
            <div class="gen">
                <ul id="autoWidth-gen" class="cs-hidden-gen">
                    <li class="item-a">
                        <div class="box">
                            <div class="slide-img">
                                <img alt="1" src="{% static 'images/movie1.jpg' %}">
                                <div class="overlay">
                                    <a href="#" class="buy-btn">Add to Watched</a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="item-a">
                        <div class="box">
                            <div class="slide-img">
                                <img alt="1" src="{% static 'images/movie1.jpg' %}">
                                <div class="overlay">
                                    <a href="#" class="buy-btn">Add to Watched</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item-a">
                        <div class="box">
                            <div class="slide-img">
                                <img alt="1" src="{% static 'images/movie1.jpg' %}">
                                <div class="overlay">
                                    <a href="#" class="buy-btn">Add to Watched</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item-a">
                        <div class="box">
                            <div class="slide-img">
                                <img alt="1" src="{% static 'images/movie1.jpg' %}">
                                <div class="overlay">
                                    <a href="#" class="buy-btn">Add to Watched</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item-a">
                        <div class="box">
                            <div class="slide-img">
                                <img alt="1" src="{% static 'images/movie1.jpg' %}">
                                <div class="overlay">
                                    <a href="#" class="buy-btn">Add to Watched</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item-a">
                        <div class="box">
                            <div class="slide-img">
                                <img alt="1" src="{% static 'images/movie1.jpg' %}">
                                <div class="overlay">
                                    <a href="#" class="buy-btn">Add to Watched</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="trending">
            <h5>Currently Trending</h5>
            <div class="trend">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start"
                        style="margin-bottom: 10px; border-radius: 5px;">
                        <div class="row">
                            <div class="section1">
                                <img src="{% static 'images/movie1.jpg' %}"
                                    style="height: 80px; margin-right: 20px; margin-left: 5px; border-radius: 5px; filter: drop-shadow(2px 2px 10px #7b7b7c);">
                            </div>
                            <div class="section2" style="width: 80%;">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Movie Name</h5>
                                    <small class="text-muted">#1</small>
                                </div>
                                <p class="mb-1">Movie Description Goes here</p>
                                <small class="text-muted">Donec id elit non mi porta.</small>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start"
                        style="margin-bottom: 10px; border-radius: 5px;">
                        <div class="row">
                            <div class="section1">
                                <img src="{% static 'images/movie1.jpg' %}"
                                    style="height: 80px; margin-right: 20px; margin-left: 5px; border-radius: 5px; filter: drop-shadow(2px 2px 10px #7b7b7c);">
                            </div>
                            <div class="section2" style="width: 80%;">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Movie Name</h5>
                                    <small class="text-muted">#1</small>
                                </div>
                                <p class="mb-1">Movie Description Goes here</p>
                                <small class="text-muted">Donec id elit non mi porta.</small>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start"
                        style="margin-bottom: 10px; border-radius: 5px;">
                        <div class="row">
                            <div class="section1">
                                <img src="{% static 'images/movie1.jpg' %}"
                                    style="height: 80px; margin-right: 20px; margin-left: 5px; border-radius: 5px; filter: drop-shadow(2px 2px 10px #7b7b7c);">
                            </div>
                            <div class="section2" style="width: 80%;">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Movie Name</h5>
                                    <small class="text-muted">#1</small>
                                </div>
                                <p class="mb-1">Movie Description Goes here</p>
                                <small class="text-muted">Donec id elit non mi porta.</small>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start"
                        style="margin-bottom: 10px; border-radius: 5px;">
                        <div class="row">
                            <div class="section1">
                                <img src="{% static 'images/movie1.jpg' %}"
                                    style="height: 80px; margin-right: 20px; margin-left: 5px; border-radius: 5px; filter: drop-shadow(2px 2px 10px #7b7b7c);">
                            </div>
                            <div class="section2" style="width: 80%;">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Movie Name</h5>
                                    <small class="text-muted">#1</small>
                                </div>
                                <p class="mb-1">Movie Description Goes here</p>
                                <small class="text-muted">Donec id elit non mi porta.</small>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start"
                        style="margin-bottom: 10px; border-radius: 5px;">
                        <p class="view-more">View More...</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="language">
            <h4>BY LANGUAGE</h4>
            <span class="filter">
                <ul>
                    <li class="list active" data-filter="All">#All</li>
                    <li class="list" data-filter="English">#English</li>
                    <li class="list" data-filter="Hindi">#Hindi</li>
                    <li class="list" data-filter="Others">#Others</li>
                </ul>
            </span>
            <div class="lang">
                <ul id="autoWidth-lang" class="cs-hidden-lang">
                    <li class="item-a">
                        <div class="box">
                            <div class="slide-img">
                                <img alt="1" src="{% static 'images/movie1.jpg' %}">
                                <div class="overlay">
                                    <a href="#" class="buy-btn">Add to Watched</a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="item-a">
                        <div class="box">
                            <div class="slide-img">
                                <img alt="1" src="{% static 'images/movie1.jpg' %}">
                                <div class="overlay">
                                    <a href="#" class="buy-btn">Add to Watched</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item-a">
                        <div class="box">
                            <div class="slide-img">
                                <img alt="1" src="{% static 'images/movie1.jpg' %}">
                                <div class="overlay">
                                    <a href="#" class="buy-btn">Add to Watched</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item-a">
                        <div class="box">
                            <div class="slide-img">
                                <img alt="1" src="{% static 'images/movie1.jpg' %}">
                                <div class="overlay">
                                    <a href="#" class="buy-btn">Add to Watched</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item-a">
                        <div class="box">
                            <div class="slide-img">
                                <img alt="1" src="{% static 'images/movie1.jpg' %}">
                                <div class="overlay">
                                    <a href="#" class="buy-btn">Add to Watched</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item-a">
                        <div class="box">
                            <div class="slide-img">
                                <p class="view-more">View More...</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="latest">
            <h5>Latest Releases</h5>
            <div class="trend">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start"
                        style="margin-bottom: 10px; border-radius: 5px;">
                        <div class="row">
                            <div class="section1">
                                <img src="{% static 'images/movie1.jpg' %}"
                                    style="height: 80px; margin-right: 20px; margin-left: 5px; border-radius: 5px; filter: drop-shadow(2px 2px 10px #7b7b7c);">
                            </div>
                            <div class="section2" style="width: 80%;">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Movie Name</h5>
                                    <small class="text-muted">#1</small>
                                </div>
                                <p class="mb-1">Movie Description Goes here</p>
                                <small class="text-muted">Donec id elit non mi porta.</small>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start"
                        style="margin-bottom: 10px; border-radius: 5px;">
                        <div class="row">
                            <div class="section1">
                                <img src="{% static 'images/movie1.jpg' %}"
                                    style="height: 80px; margin-right: 20px; margin-left: 5px; border-radius: 5px; filter: drop-shadow(2px 2px 10px #7b7b7c);">
                            </div>
                            <div class="section2" style="width: 80%;">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Movie Name</h5>
                                    <small class="text-muted">#1</small>
                                </div>
                                <p class="mb-1">Movie Description Goes here</p>
                                <small class="text-muted">Donec id elit non mi porta.</small>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start"
                        style="margin-bottom: 10px; border-radius: 5px;">
                        <div class="row">
                            <div class="section1">
                                <img src="{% static 'images/movie1.jpg' %}"
                                    style="height: 80px; margin-right: 20px; margin-left: 5px; border-radius: 5px; filter: drop-shadow(2px 2px 10px #7b7b7c);">
                            </div>
                            <div class="section2" style="width: 80%;">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Movie Name</h5>
                                    <small class="text-muted">#1</small>
                                </div>
                                <p class="mb-1">Movie Description Goes here</p>
                                <small class="text-muted">Donec id elit non mi porta.</small>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start"
                        style="margin-bottom: 10px; border-radius: 5px;">
                        <div class="row">
                            <div class="section1">
                                <img src="{% static 'images/movie1.jpg' %}"
                                    style="height: 80px; margin-right: 20px; margin-left: 5px; border-radius: 5px; filter: drop-shadow(2px 2px 10px #7b7b7c);">
                            </div>
                            <div class="section2" style="width: 80%;">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Movie Name</h5>
                                    <small class="text-muted">#1</small>
                                </div>
                                <p class="mb-1">Movie Description Goes here</p>
                                <small class="text-muted">Donec id elit non mi porta.</small>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start"
                        style="margin-bottom: 10px; border-radius: 5px;">
                        <p class="view-more">View More...</p>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Upcoming -->
    <section class="upcoming pb-4">
        <h3>COMING SOON</h3>
        <div class="bd-example pt-2">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-interval="4000">
                        <img src="{% static 'images/upcoming_check.jpg' %}" class="d-block w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 style="text-shadow: rgb(0, 0, 0) 1px 0 4px;">First slide label</h5>
                            <p style="text-shadow: rgb(0, 0, 0) 1px 0 4px;">Nulla vitae elit libero, a pharetra augue
                                mollis interdum.</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-interval="4000">
                        <img src="{% static 'images/upcoming_check.jpg' %}" class="d-block w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 style="text-shadow: rgb(0, 0, 0) 1px 0 4px;">First slide label</h5>
                            <p style="text-shadow: rgb(0, 0, 0) 1px 0 4px;">Nulla vitae elit libero, a pharetra augue
                                mollis interdum.</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-interval="4000">
                        <img src="{% static 'images/upcoming_check.jpg' %}" class="d-block w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 style="text-shadow: rgb(0, 0, 0) 1px 0 4px;">First slide label</h5>
                            <p style="text-shadow: rgb(0, 0, 0) 1px 0 4px;">Nulla vitae elit libero, a pharetra augue
                                mollis interdum.</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </section>
</section>

{% endblock %}