{% extends "base.html" %}
{% load static %}

{% block title %} WELCOME | PredixDB {% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css" />
{% endblock %}

{% block body %}

<!-- Show Case section -->
<section class="showcase" id="showcase">
    <video src="{% static 'videos/getStartedbg.mp4' %}" muted loop autoplay></video>
    <div class="text">
        <h2>For a seamless </h2>
        <h3>Media consumption</h3>
        <p>
            We are here to assist you with tracking of all your media consumption, and providing you with regular
            updates for you favorite shows.
        </p>
        <a href="{% url 'dashboard' 'movie' %}">Get Started</a>
    </div>
</section>

<!-- About section -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
                <img src="{% static 'images/home_cinema.svg' %}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
                <h3>What is PredixDB is trying to resolve?</h3>
                <p class="fst-italic">
                    In today’s era with the emergence of so many OTT platforms it has become a hassle to keep a track of
                    all shows and movies that someone has watched or are coming out with a new season.
                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi
                        ut aliquip ex ea commodo consequat.</li>
                    <li><i class="bi bi-check-circle"></i> Duis aute irure dolor
                        in reprehenderit in voluptate velit.</li>
                </ul>
                <p>
                    PredixDB is an online platform which will assist users to keep track of what they have already
                    watched, currently watching, dropped, what to watch next and will also provide updates regarding
                    their favourite shows. Leaving no hurdles for user to watch their favorite shows.

                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> Get ready for an seamless media consumption experience.</li>
                    <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi
                        ut aliquip ex ea commodo consequat.</li>
                    <li><i class="bi bi-check-circle"></i> Duis aute irure dolor
                        in reprehenderit in voluptate velit.</li>
                </ul>
            </div>
        </div>

    </div>
</section>

<!-- Call To Action -->
<section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">
        <div class="text-center">
            <h3>Buy Us a Coffee</h3>
            <p> If you like what we are doing or if it helps you in any way then please consider supporting. Each
                supporter give us the motviation to keep up the good work.</p>
            <a href="https://www.buymeacoffee.com/predixdb">Buy us a Coffee</a>
        </div>
    </div>
</section>

<!-- Contact Us Section -->
<section class="mb-4" id="contact">
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions?
        Please do not hesitate to contact us directly. Our team will come back
        to you within a matter of hours to help you.</p>

        <div class="container">
            <form id="contact-form" name="contact-form" action="mail.php" method="POST">
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class="">Your name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form">
                            <input type="text" id="email" name="email" class="form-control">
                            <label for="email" class="">Your email</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input type="text" id="subject" name="subject" class="form-control">
                            <label for="subject" class="">Subject</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                            <textarea type="text" id="message" name="message" rows="2"
                                class="form-control md-textarea"></textarea>
                            <label for="message">Your message</label>
                        </div>
                    </div>
                </div>
            </form>
            <div class="text-center text-md-left" style="padding-top: 10px;">
                <a href="#">Send</a>
            </div>
    </div>
</section>

{% endblock %}