{% extends "base.html" %}
{% load static %}


{% block title %} My Profile | PredixDB {% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block script %}

{% endblock %}

{% block body %}
<div class="main">
    <div class="cover">
        <img src="{% static 'images/upcoming_check.jpg' %}" alt="">
    </div>
    <div class="avatar">
        <img src="{% static 'images/movie1.jpg' %}" alt="">
    </div>
    <div class="profile">
        <div class="uname">
            <p>Username</p>
        </div>
        
    </div>

</div>
{% endblock %}