{% extends "base.html" %}
{% load static %}


{% block title %} My Profile | PredixDB {% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/profilet.css' %}">
{% endblock %}

{% block script %}
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}

{% block body %}
<div class="main">
    <div class="cover">
        <img src="{% static 'images/upcoming_check.jpg' %}" alt="">
    </div>
    <div class="container">
        <div class="details">
            <div class="profile-block">
                <div class="avatar-block">
                    <img src="{% static 'images/movie1.jpg' %}" alt="" class="avatar">
                    <div class="change-avatar">
                        <button>CHANGE AVATAR</button>
                    </div>
                </div>
                <hr>
                <div class="media-block">
                    <p>Media Details</p>
                    {% if filter == "favourite" %}
                    <a style="text-decoration: none;">
                        <h6 style="color: #da1515">FAVORITES</h6>
                    </a>
                    {% else %}
                    <a style="text-decoration: none;" href="{% url 'profile' 'favourite' %}">
                        <h6>FAVORITES</h6>
                    </a>
                    {% endif %}

                    {% if filter == "watchlist" %}
                    <a style="text-decoration: none;">
                        <h6 style="color: #da1515">WATCHLIST</h6>
                    </a>
                    {% else %}
                    <a style="text-decoration: none;" href="{% url 'profile' 'watchlist' %}">
                        <h6>WATCHLIST</h6>
                    </a>
                    {% endif %}

                    {% if filter == "watched" %}
                    <a style="text-decoration: none;">
                        <h6 style="color: #da1515">WATCHED</h6>
                    </a>
                    {% else %}
                    <a style="text-decoration: none;" href="{% url 'profile' 'watched' %}">
                        <h6>WATCHED</h6>
                    </a>
                    {% endif %}
                </div>
                <hr>
                <div class="settings-block">
                    <p>Settings</p>
                    <a style="text-decoration: none;" href="#">
                        <h6>UPDATE PROFILE</h6>
                    </a>
                    <a style="text-decoration: none;" href="{% url 'logout' %}">
                        <h6>LOGOUT</h6>
                    </a>
                </div>
            </div>

            <div class="content-block">
                <div class="name">
                    <h1>{{ user.get_username|upper }}'s PROFILE</h1>
                </div>

                <div class="media">
                    <div class="wrapper">
                        <!-- filter Items -->
                        <nav>
                            <div class="items">
                                <span class="item active" data-name="all">All</span>
                                <span class="item" data-name="anime">Anime</span>
                                <span class="item" data-name="movie">Movies</span>
                                <span class="item" data-name="tv series">TV Series</span>
                                <span class="item" data-name="manga">Manga</span>
                            </div>
                        </nav>
                        <!-- filter Images -->
                        <div class="gallery">
                            {% for media in mylist %}
                            <div class="list-item" data-name={{media.mid.type}}>
                                <a href="">
                                    <div class="poster">
                                        <img src={{media.mid.cover}} alt="">
                                    </div>
                                    <div class="description">
                                        <div class="d-text">
                                            <h3>{{media.mid.title}}</h3>
                                            <hr class="divider">
                                            <p>Release {{media.mid.rdate}}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}